#add{
	TEXT-ALIGN: center;
}

input,select{
	margin: 10px;
	width: 70%;
	padding: 1em 2em 1em 5.4em;
	-webkit-border-radius: .3em;
	-moz-border-radius: .3em;
	border: 1px solid #999;
}

.addFilmForm {
	width: 350px;
	margin: 50px auto 0 auto;
}

.addButton  {
	width: 100%;
	margin: 30px auto 0 auto;
	padding: .5em 0;
	-webkit-border-radius: .3em;
	-moz-border-radius: .3em;
	border: #1263be solid 1px;
	background: #1b85fd;
	color: #FFF;
	font-size: 17px;
	font-weight: bolder;
	letter-spacing: 1em;
}
