tb {
	border-width: 2px;
	border-collapse: collapse;
	border-color: grey;
	border-style: solid;
	width: 200px;
}

td {
	border-width: 2px;
	border-collapse: collapse;
	border-color: grey;
	border-style: solid;
	width: 200px;
}

#addFilmButton,#movie{
	text-align: right;
	backgroud: green;
	font-size: 20px;
}

#title{
	margin-top:20px;
	width:100%;
	backgroud: green;
	height: 40px;
}




